[submodule "themes/hugo-universal-theme"]
  path = themes/hugo-universal-theme
  url = https://github.com/devcows/hugo-universal-theme.git
[submodule "public"]
	path = public
	url = git@github.com:relz-99/testweb.git
